# Node
node_modules/
dist/

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Coverage
coverage/
